<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- Chạy node odometry_publisher -->
        <arg name="gui" default="True" />
	<param name="use_gui" value="$(arg gui)"/>
	 <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering" output="screen" />
    <node name="rosserial_node" pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/ttyUSB0 _baud:=57600" output="screen" />
     <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <!-- Node chạy odom_publisher -->
    <node name="odometry_publisher" pkg="robot_control" type="odometry_publisher">
        <param name="publish_tf" value="true" />
        <param name="publish_rate" value="10.0" />
        <param name="linear_scale_positive" value="1.025" />
        <param name="linear_scale_negative" value="1.025" />
        <param name="angular_scale_positive" value="1.078" />
        <param name="angular_scale_negative" value="1.078" />
        <param name="angular_scale_accel" value="0.0" />
    </node>
    <arg name="config" default="urdf"/>
    <!-- Include the robot description from urdf -->
    <param name="robot_description" command="cat $(find robot_description)/urdf/robot.urdf" />
    <!-- Joint and State Publishers -->

</launch>
